/* table .table-dark{
    background-color: black;
    color: white;
    width: 100%
}

table .table-dark tr th {
    float: left;
    padding: 20px 80px;
    font-weight: 500;
    font-size: 16px;
}

table .table-results tr th{
    float: left;
    padding: 20px 70px;
    font-weight: 500;
    font-size: 16px;
}

table .table-results tr td{
    float: left;
    padding: 20px 70px;
    font-weight: 500;
    font-size: 16px;
} */

/* table .table-dark{
    background-color: black;
    color: white;
    width: 100%
} */

table{
    width: 100%;
}

tr{
    /* background-color: #2e2649; */
    height: 50px;
  }
  th {
    background-color: #342F44;
    height: 42px;
    color: white;
  }
  .noBorder {
      border:none !important;
  }