* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  background: #ecf5ff;
}

.main {
  padding-top: 100%;
}

.container {
  margin: 0 auto;
  text-align: center;
  width: 960px;
}